<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
    </configSections>
    
    <log4net>
        <root>
            <level value="ALL"/>
            <appender-ref ref="ConsoleAppender" />
        </root>
        
        <logger name="Product">
            <level value="INFO"/>
            <appender-ref ref="FileAppender" />
        </logger>

        <logger name="Debug">
            <level value="ALL"/>
            <appender-ref ref="DebugAppender" />
        </logger>

        <appender name="FileAppender" type="log4net.Appender.FileAppender" >
            <param name="File" value="log.txt" />
            <param name="AppendToFile" value="true" />
            
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%-5level] [%thread] [%C:%L] - %m%n"/>
            </layout>
        </appender>

        <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%-5level] [%thread] [%C:%L] - %m%n"/>
            </layout>
        </appender>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%-5level] [%thread] [%C:%L] - %m%n"/>
            </layout>
        </appender>
    </log4net>
</configuration>